<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Prekės</title>
		<div th:replace='_head'></div>
	</head>
	<body class='container'>
		<div class='row'>
			<div class='col-3'></div>
			<div class='col-6'>
				<div th:replace='_menu'></div>
				<h3>Prisijungimas</h3>
				<div th:replace='_login_form'></div>
			<div class='col-3'></div>
		</div>
	</body>
</html>